useDynLib(RepsampleR, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, pchisq, pnorm, fisher.test, ks.test, binom.test)
export(repsample)
export(repsample_easy)
export(repsample_search)
export(repsample_search_auto)
export(print.repsample_result)
export(print.repsample_search_result)
